* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }
html body
{
    font-family: 'raleway','serif';
}

                /* header */

header
{
    height: 120px;
    display: flex;
    justify-content: space-between; 
}

#logoBooki
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;    
}

#logoBooki img
{
     width: 95px;
}

nav
{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 30px;    
}

nav a
{
    margin: 30px;
    padding-top:  53px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 46px;
    text-decoration: none;
    color: black;
    border-top: 3px solid #fff;
}

 nav a:hover 
 {
     border-top: 3px solid rgb(0, 101, 252);
     color: rgb(0, 101, 252);
 }

 h1
 {
    font-size: 21px;
    font-weight:700;
 }

                    /* Barre de recherche */

 #blocPage
{
    margin-left: 45px;
    margin-right: 45px;
}

#barreDeRecherche
{   
    width: 700px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#iconePosition
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    width: 50px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
}

#barreDeRecherche form
{
    display: flex;
}

#champDeRecherche 
{
    height: 50px;
    width: 240px;
    border:1px solid rgb(242, 242, 242);
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-left: 20px;
}

.search-button
{
    background-color: rgb(0, 101, 252);
    border: 1px solid rgb(0, 101, 252);
    height: 50px;
    width: 133px;
    border-radius: 0% 15px 15px 0%;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.search-button i
{
    display: none;
}

                    /* Filtres */

#filtres
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 500;
    margin-top: 13px;
    width: 70%;
    flex-wrap: wrap;
}

.filtre
{
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;
    margin-top: 10px;
}

.filtre i
{
    
    border-radius: 30px 30px 30px 30px ;
    height: 49px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 101, 252);
    background-color: #DEEBFF;
    position: relative;
    left: -10px;
}

#filtres div
{
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}

#filtres div:hover
{
    background-color: #DEEBFF;
    cursor: pointer; 
}

 .filtre i:hover
 {
   color: white ; 
 }

#info
{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

#info i
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px; 
    color: rgb(0, 101, 252);
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

                       /* Card des hébergements */

                       
#hebergements
{
    background-color: rgb(242, 242, 242);
    border-radius: 20px 20px 20px 20px;
    width: 65%;
    padding: 0px 20px 20px 20px;
    margin-right: 10px;
}   

#cardHebergements
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.cardHebergement
{
    width: 30%;
    height: 199px; 
    background-color: white; 
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 20px #999;  
}

.imageCardHebergements
{
    height: 110px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.imageCardHebergements img
{
    height: 110px;
    width: 240px;
    object-fit: cover;
}

.descriptionsHebergement
{
    padding-left: 10px;
    font-size: 13px; 
}

.fontStyle
{
    font-weight:normal;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

               /* étoiles */

.starsHebergement
{
    display: flex;
    font-size: 11px;
}

.blue
{
    color: rgb(0, 101, 252);
}

.grey
{
    color:rgb(242, 242, 242);
}

#cardHebergements a
{
    text-decoration: none;
    color: black;
}

#hebergements a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 17px;
}

.afficherPlus
{
    padding-left: 20px;
}

                        /* Card les plus populaires*/

#populaires
{
    background-color: rgb(242, 242, 242);
    width: 32%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

#cardPopulaires
{
    display: flex;
    flex-direction: column;
}

.cardPopulaire
{
    display: flex;
    justify-content: center;
}

.cardPopulaire a
{
    width: 91%;
    height: 145px;    
    background-color: white; 
    padding: 5px 21px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 35px;
    box-shadow: 0px 5px 20px #999;
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
    text-decoration: none;
    color: black;
}

.imageCardPopulaire 
{
    border-radius: 20px 0px 0px 20px;
}

.imageCardPopulaire img
{
    width: 120px;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.descriptionsPopulaire
{ 
    font-size: 13px;  
    margin-left: 15px;
    padding-right: 39px;
    border-radius: 0px 20px 20px 0px;
}

.stars
{
    height: 30px;
    display: flex;
    align-items:flex-end;
    font-size: 11px;
}

.fontStyleP
{
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
}

h2 
{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 10px;
}

h3
{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
}

#deuxCard
{
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}

                    /* Activités */

#activites
{
    width: 103%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

#ancrageActivites
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 60px;
    margin-left: 0px;
}

h4
{
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.act1
{
    font-size: 15px;
    width: 300px;
    height: 444px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242);
}

.act1 img
{
    width: 300px;
    height: 384px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act1 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

.act2
{
    width: 300px;
    height: 235px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242); 
}

.act2 img
{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act2 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

.act3
{
    width: 300px;
    height: 165px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242); 
}

.act3 img
{
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act3 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

.act4
{
    width: 300px;
    height: 444px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242); 
}

.act4 img
{
    width: 300px;
    height: 384px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act4 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

.act5
{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242); 
}

.act5 img
{
    width: 300px;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act5 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

.act6
{
    width: 300px;
    height: 190px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 20px rgb(242, 242, 242); 
}

.act6 img
{
    width: 300px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act6 p
{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

#activites a
{
    text-decoration: none;
    color: black;
}

                                /* footer */

footer
{
    background-color: rgb(242, 242, 242);
    display: flex;
    width: 100%;
    height: 220px;
    margin-top: 40px;
    padding-left: 50px;
    padding-top: 40px;
}

footer div
{
    font-size: 19px;
    font-weight: 600;
}

footer ul
{
    padding-left:0px;
    font-weight: 700;
    padding-top: 15px;
    margin-top: 0px;
    padding-right: 50px;
}

footer li
{
    list-style: none;
    padding-bottom: 15px;
    padding-right: 200px;
    font-weight: 300;
    font-size: 16px;
}

footer li a
{
    text-decoration: none;
    color: black;
}

                    /* Tablettes*/


@media screen and (min-width: 768px) and (max-width: 991px)
{
                    /* Filtres*/

    #filtres
    {  
        flex-wrap: wrap;
    }

    #deuxCard
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

                   /* Hebergements */

    #hebergements
    {
        width: 100%;
    }

                    /* Populaire */

    #populaires
    {
        width: 100%;
        margin-top: 20px;
    }
    
    .cardPopulaires
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .descriptionsPopulaire
    {
        width: 630px;
        text-align: center;
        border-radius: 0px 20px 20px 0px;
    }

    .cardPopulaire img
    {
        width: 300px
    }    

   .cardPopulaire .stars
    {
        display: flex;
        justify-content: center;
    }
   
    h4
    {
        margin-top: 0px;
        padding-top: 25px;
        margin-left: 25px;
        padding-bottom: 10px;
    }

                        /* Activites */

    #activites 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 400px;
    }

    #activites img
    {
        width: 702px;
        height: 110px;
    }

   .act1, .act2, .act3, .act4, .act5, .act6
    {
        width: 702px;
        margin-right: 25px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

                        /* Footer */

    footer
    {
        margin-top: 400px;
        height: 100%;
    }

    footer li
    {
        padding-right: 70px;
    }
}

                        /* Pour les portables*/
@media screen and (max-width: 767px) 
{
                        /* Header */
    header
    {
       display: flex;
       flex-direction: column;
       justify-content:space-around;
    }
    
    #logoBooki
    {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
   
    nav
   {
        width: 100%;
   }

   nav a 
   {   
        width: 50%;
        padding-bottom: 15px;
        padding-top: 0%;
        margin: 0%;
        text-align: center;
        border-bottom: 3px solid rgb(242, 242, 242);
    }
   
   nav a:hover 
   {
        border-top: none;
        border-bottom: 3px solid rgb(0, 101, 252);
        color: rgb(0, 101, 252);
    }
                    
                        /* Barre de recherche */
                    
    #blocPage
    {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .search-button
    {
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 101, 252);
        border: 1px solid rgb(0, 101, 252);
        border-radius: 20px 20px 20px 20px;
        width: 50px;
        height: 50px;
        position: relative;
        left: -14px;
    }

    .search-button span
    {
        display: none;
    }
    .search-button i 
    {
        display: block;
    }

                        /* Filtres */
    
    #filtres p
    {
        font-size: 16px;
        font-weight: 600;
        margin-right: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #filtres 
    {
        width: 100%;
        display: flex;
        justify-content:flex-start;
    }
    
    #filtres .filtre
    {
        font-size: 16px;
        margin-top:  10px;
        margin-right: 10px;   
    }
    
    #info i
    {
        width: 25px;
    }
                            /* Populaires */

    #deuxCard
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #blocPage #cardpopulaires
    {
        margin-left: 0px;
    }

    #populaires
    {
        margin-left: -25px;
        width: 390px;
        border-radius: 0px;
    }
    

                                    /* Hebergements */

    #hebergements
    {
        background-color: white;
        width: 360px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .cardHebergement
    {
       width: 100%;
       margin-left: 0px;
       margin-right: 20px;
    }

    .cardHebergement img
    {
        width: 100%;
    }

    h4
    {
        margin-top: 0px;
        padding-top: 25px;
        margin-left: 25px;
        padding-bottom: 10px;
    }

                                    /* Activites */


    #ancrageActivites
    {
        margin-top: 30px;
    }


    #activites 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 390px;
    }

    #activites img
    {
        width: 340px;
        height: 110px;
    }

   .act1, .act2, .act3, .act4, .act5, .act6
    {
        width: 340px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

                                    /* Footer */

    footer
    {
        display: flex;
        flex-direction: column;
        background-color:rgb(242, 242, 242);
        margin-top:390px;
        height: auto;
        width: 100%;
    }

   
    footer li
    {
        list-style: none;
        padding-right: 0px;
        width: 100%;
    }

    footer div
    {
        margin-bottom: 20px;
    }
    
}