* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }
html body
{
    font-family: 'raleway','serif';
}
header
{
    height: 120px;
    
    display: flex;
    justify-content: space-between;
    align-content:flex-end;
    
}
#logoBooki
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}

nav
{
    
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    
    
}
nav a
{
    margin: 30px;

    padding-top:  48px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    
}
 nav a:hover 
 {
     border-top: 2px solid rgb(0, 101, 252);
     color: rgb(0, 101, 252);
 }







   /* Tablettes*/
@media screen and (min-width: 780px) and (max-width: 979px)
{

    
}

/* Pour les portables*/
@media screen and (max-width: 1024px) 
{
    header
    {
        display: flex;
        flex-direction: column;
    }
    #logoBooki
    {
        display: flex;
        justify-content: center;
    }
   nav
   {
        display: flex;
        justify-content: space-between;
   }
   nav a:hover 
 {
     border-top: none;
     border-bottom: 2px solid rgb(0, 101, 252);
     color: rgb(0, 101, 252);
 }
}
